.rectangle
{
    position: absolute;
    width: 488px;
    height: 530px;
    left: 500px;
    top: 70px;
    background: rgba(0, 0,0,0.24);
    border-radius: 50px;
}

.form
{
    position: absolute;
    left: 550px;
    top: 185px;
    font-size: 25px;
}

::placeholder
{
    font-size: 20px;
}

.but
{
    position: absolute;
    border-radius: 1000px;
    background: #D9D9D9;
    width: 177px;
    height: 42px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 39px;
    color: #000000;
    left: 100px;
}

input[type=text100]
{
   
    size: 22;
    height: 25px;
    font-size: 30px;
    width: 220px;
}    
input[type=password300]
{
    size: 22;
    height: 25px;
    width: 220px;
    font-size: 30px;
    
}

.login
{
    position: absolute;
   left: 670px;
   top: 90px;
   font-style: normal;
   font-size: 40px;
   color: #FFFFFF;
}

.pic
{
  position: absolute;
  left:0px;
}